/*-----------------------------------------------------------------------------
Print Style Sheet

version:   1.0
author:    Chris Sanderson
email:     chris.sanderson@headscape.co.uk
website:   http://www.headscape.co.uk
-----------------------------------------------------------------------------*/

/* =General
-----------------------------------------------------------------------------*/


#accessibility, #navigationContainer, .leftCol, #pageInfo h3, #pageInfo ul, #footer ul, #selectCentreContainer, #featureItem, object, embed, #joinToday, .recordSet, .lDate, #searchAgain, #visitCentre, #relatedLinks {
	display: none;
}
	
body {
	font: 14px Verdana, Arial, Helvetica, sans-serif;
	width: 610px;
}

#complete table td {
	font-size: 14px;
}

#printLogo {
	margin-bottom: 20px;
	}
	
#pageInfo h2 {
	margin: 0.6em 0 0.2em 0;
	color: #00958e;
	line-height: 1.2em;
	font-size: 24pt;
	font-weight: normal;
	}
	
.content #pageAbstract {
	color: #666666;
	font-size: 13pt;
	line-height: 1.4em;
	}
	
h3 {
	clear: both;
	margin-top: 0.5em;
	color: #00948d;
	font-size: 16pt;
	font-weight: normal;
	border-bottom: 1px dotted #00948d;
	}
	
h4 {
	margin-top: 0.5em;
	font-size: 13pt;
	font-weight: normal;
	color: #666666;
	}

a {
	color: #00958e;
	text-decoration: none;
	}
	